<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>humblle-bot</title>

</head>
<body>
    <div class="container">
        <div class="sidebar-message">

        </div>
        <div class="chat-container">
            <div class="chat-outgoing">
                <div class="chat-details">
                    <img src="" alt=""></img>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, totam.</p>
                </div>
            </div>
            <div class="chat-incoming">
                <div class="chat-details">
                    <img src="" alt=""></img>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, atque?</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>