<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>humblle-bot</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar"></div>
        <div class="chat-container">
            <div class="chat-incoming">
                <div class="chat-details">
                    <img src="" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, ab.</p>
                </div>
            </div>
            <div class="chat-outcome">
                <div class="chat-details">
                    <img src=".\assets\humblle-logo.png" alt="humblle-logo">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, ab.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>